<div class="body">
  <div>
    <img src="../../../../assets/homepageimage2.jpg" class="homeimage img-fluid" alt="">
  </div>
  <div class="cards-div">

    <h1 class="div-title">What we ofered in our courses</h1>
    <div class="card-container mt-4">
      <div class="cardp ">
        <img src="../../../../assets/toolicon.jpg" class="img-card d-block mx-auto" alt="">
        <h4 class="mt-3">Small Class Size</h4>
        <p class="mt-3">We cap our classes at 18 students. All of our instructors have years of teaching and development experience.</p>
      </div>


      <div class="cardp">
        <img src="../../../../assets/toolicon.jpg" class="img-card d-block mx-auto" alt="">
        <h4 class="mt-3">Small Class Size</h4>
        <p  class="mt-3">We cap our classes at 18 students. All of our instructors have years of teaching and development experience.</p>
      </div>

      <div class="cardp">
        <img src="../../../../assets/toolicon.jpg" class="img-card d-block mx-auto" alt="">
        <h4 class="mt-3">Small Class Size</h4>
        <p  class="mt-3">We cap our classes at 18 students. All of our instructors have years of teaching and development experience.</p>
      </div>

    </div>
  </div>
  <div class="benefits-div">
    <h1 class="div-title  text-white pt-4">Our grads find jobs faster than any other school in the Bay Area</h1>

    <div class="benefits-container">
      <div class="cardb">
        <img src="../../../../assets/toolicon.jpg" class="img-card d-block mx-auto"  alt="">
        <h3 class="mt-4">90%</h3>
        <h3 class="mt-4">Posibility to find job</h3>
      </div>

      <div class="cardb">
        <img src="../../../../assets/toolicon.jpg" class="img-card d-block mx-auto"  alt="">
        <h3 class="mt-4">90%</h3>
        <h3 class="mt-4">Posibility to find job</h3>
      </div>
    </div>

  </div>

  <div class="cards-div">
    <h1 class="div-title">What our graduates are saying</h1>
    <div class="card-container">

      <div class="cardp">
        <p>I almost never had to wait to get an answer to a question.</p>
        <img src="../../../../assets/teacher.jpg" class="img-card d-block mx-auto" alt="">
        <h2 class="mt-4">Arthur Kam</h2>
        <p class="mt-2">Software Engineer at Palantir</p>
      </div>

      <div class="cardp">
        <p>I almost never had to wait to get an answer to a question.</p>
        <img src="../../../../assets/teacher.jpg" class="img-card d-block mx-auto" alt="">
        <h2 class="mt-4">Arthur Kam</h2>
        <p class="mt-2">Software Engineer at Palantir</p>
      </div>

      <div class="cardp">
        <p>I almost never had to wait to get an answer to a question.</p>
        <img src="../../../../assets/teacher.jpg" class="img-card d-block mx-auto" alt="">
        <h2 class="mt-4">Arthur Kam</h2>
        <p class="mt-2">Software Engineer at Palantir</p>
      </div>

    </div>
  </div>
</div>


<footer class="text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contactanos</h5>
        <div class="after-text-footer">
          <p><strong> Address:</strong></p>
          <p>San Francisco EEUU</p>

          <p><strong> Email:</strong></p>
          <p>info@rithmschool.com</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Company</h5>
        <div class="after-text-footer">

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!">About Us</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Navigate</h5>
        <div class="after-text-footer">

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!">Courses</a>
            </li>
            <br>
            <li>
              <a href="#!">Our Team</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social Media</h5>

        <div class="social-media d-block row">
          <i class="col-3 fa fa-facebook"></i>
          <i class="col-3 fa fa-linkedin"></i>
          <i class="col-3 fa fa fa-twitter"></i>
          <i class="col-3 fa fa-github"></i>

        </div>

      </div>
    </div>

  </div>



  <div class="text-center p-3">
    © Rithm Inc. 500 Sansome Street Suite 300 San Francisco, CA 94111. All rights reserved.
    <a>Privacy Policy | Terms of Service</a>
  </div>

</footer>


