<nav class="navbar navbar-expand-lg navbar-light bg-dark mynavbar">
  <img src="../../../../assets/logo w.png" class="myimg">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>
  </div>
</nav>
<div class="body">
  <img src="../../../../assets/homeimage.jpg" class="" alt="">
  <div class="cards-div">
    <h1>What we ofered in our courses</h1>
    <div class="card-container">
      <div class="card">
        <img src="../../../../assets/toolicon.jpg" alt="">
        <h4>Small Class Size</h4>
        <p>We cap our classes at 18 students. All of our instructors have years of teaching and development experience.</p>
      </div>


      <div class="card">
        <img src="../../../../assets/toolicon.jpg" alt="">
        <h4>Small Class Size</h4>
        <p>We cap our classes at 18 students. All of our instructors have years of teaching and development experience.</p>
      </div>

      <div class="card">
        <img src="../../../../assets/toolicon.jpg" alt="">
        <h4>Small Class Size</h4>
        <p>We cap our classes at 18 students. All of our instructors have years of teaching and development experience.</p>
      </div>

    </div>
  </div>
  <div class="benefits-div">
    <h1>Our grads find jobs faster than any other school in the Bay Area</h1>

    <div class="benefits-container">
      <div class="benefit">
        <img src="../../../../assets/toolicon.jpg" alt="">
        <h3>90%</h3>
        <h3>Posibility to find job</h3>
      </div>

      <div class="benefit">
        <img src="../../../../assets/toolicon.jpg" alt="">
        <h3>90%</h3>
        <h3>Posibility to find job</h3>
      </div>
    </div>

  </div>

  <div class="cards-div">
    <h1>What our graduates are saying</h1>
    <div class="card-container">

      <div class="card">
        <p>I almost never had to wait to get an answer to a question.</p>
        <img src="../../../../assets/teacher.jpg" alt="">
        <h2>Arthur Kam</h2>
        <p>Software Engineer at Palantir</p>
      </div>

      <div class="card">
        <p>I almost never had to wait to get an answer to a question.</p>
        <img src="../../../../assets/teacher.jpg" alt="">
        <h2>Arthur Kam</h2>
        <p>Software Engineer at Palantir</p>
      </div>

      <div class="card">
        <p>I almost never had to wait to get an answer to a question.</p>
        <img src="../../../../assets/teacher.jpg" alt="">
        <h2>Arthur Kam</h2>
        <p>Software Engineer at Palantir</p>
      </div>

    </div>
  </div>
</div>


<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contactanos</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Compania</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Navigate</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social Media</h5>

        <div class="social-media">
          <div class="icon"><img src="" class=""></div>
          <div class="icon"><img src="" class=""></div>
          <div class="icon"><img src="" class=""></div>
          <div class="icon"><img src="" class=""></div>

        </div>

      </div>
    </div>

  </div>



  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Rithm Inc. 500 Sansome Street Suite 300 San Francisco, CA 94111. All rights reserved.
    <a class="text-dark" href="https://mdbootstrap.com/">Privacy Policy | Terms of Service</a>
  </div>

</footer>


