<nav class="mynavbar">
  <img src="../../../assets/logo w.png" class="myimg">
  <div class="menuBars">
    <i class="fa fa-bars" id="menuOption"></i>
  </div>
    <ul class="linksnavbar" id="linksNavBarId">
      <li><a class="nav-link text-white" href="#">Courses</a></li>
      <li><a class="nav-link text-white" href="#">Abaout us</a></li>
      <li><a class="nav-link text-white" href="#">Our Team</a></li>
      <li><a class="nav-link text-white"  href="#">Login</a></li>
      <!-- <li><a class="nav-link text-white barra"  href="#"><i class="fa fa-bars"></i></a></li> -->
    </ul>



</nav>
