/* nav design */

:root{
  --red: #F86161;
}

*{
  box-sizing:inherit;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar ul{
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
.navbar li{
  padding: 1rem;
  list-style-type: none;
}
.navbar a{
  text-decoration: none;
  color: white;
}
.navbar-logo{
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle{
  display: none;
}
.myimg{
  width: 20vh;
}
.navbar-links:hover{
  background-color: white;
}
.navbar-links:hover a{
  color: var(--red);
}

@media (max-width: 690px) {

  .navbar ul{
    flex-wrap: wrap;
  }
  .navbar li{
    border: solid black 1px;
  }
  .navbar-toggle{
    display: block;
  }

  .navbar-links{
    display: none;
    width: 100%;
    text-align: center;
  }
  .activate{
    display: block;
  }

}

