<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Our Courses</h1>
</div>
<div class="containerc">
  <div class="rowc">

    <div class="cardp col">

      <div class="row">
        <div class="col-4">
          <img class="img-fluid img rounded" src="../../../../assets/jslogo.png"  alt="">
        </div>
        <div class="col-8">
          <h3 class="ml-3 mt-4">Js Intermediate</h3>
        </div>
      </div>
      <p class="mt-3">JavaScript is the Programming Language for the Web. JavaScript can update and change both HTML and CSS. JavaScript can calculate, manipulate and validate data.</p>
      <button class="btn btn-success mt-3 rounded-pill mx-auto d-block w-50">Deatils</button>
      <button class="btn btn-danger mt-3 rounded-pill mx-auto d-block w-50">Apply</button>

    </div>

    <div class="cardp col">

      <div class="row">
        <div class="col-4">
          <img class="img-fluid img rounded" src="../../../../assets/jslogo.png"  alt="">
        </div>
        <div class="col-8">
          <h3 class="ml-3 mt-4">Js Intermediate</h3>
        </div>
      </div>
      <p class="mt-3">JavaScript is the Programming Language for the Web. JavaScript can update and change both HTML and CSS. JavaScript can calculate, manipulate and validate data.</p>
      <button class="btn btn-success mt-3 rounded-pill mx-auto d-block w-50">Deatils</button>
      <button class="btn btn-danger mt-3 rounded-pill mx-auto d-block w-50">Apply</button>
 </div>

  </div>
</div>


