<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Course details</h1>
</div>
<div class="containerc">
  <form action="">
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded "  disabled type="text" value="{{courseDetail?.title}}"  name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded "  disabled type="text" value="{{courseDetail?.teacherId}}"  name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded "  disabled type="number" value="{{courseDetail?.duration}}"  name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded "  disabled type="text" value="{{courseDetail?.price}}"  name="" id="">
    </div>
    <div class="form-group">
      <textarea class="form-control w-50 mx-auto rounded " disabled value="Description" placeholder="Description"  rows="3"></textarea>
    </div>

  </form>
  <button (click)="goBack()" class="btn btn-success d-block mx-auto  w-25">Back</button>
</div>
