<div class="d-flex justify-content-center align-items-center login-container">
  <form class="login-form text-center" id="myForm">
    <h1 class="text-center mb-4 text-danger">My Profile</h1>

    <div class="form-group">
      <input type="email"  required class="form-control rounded-pill form-control-lg" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text"  required class="form-control rounded-pill form-control-lg" placeholder="Last Name">
    </div>
    <div class="form-group">
      <input type="text"  required class="form-control rounded-pill form-control-lg" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text"  required class="form-control rounded-pill form-control-lg" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-danger mt-5 w-50 mx-auto rounded-pill btn-block text-uppercase">Update</button>
  </form>
</div>
