<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Course details</h1>
</div>
<div class="containerc">
  <form action="">
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="text" placeholder="Title" name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="text" placeholder="Teacher" name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="number" placeholder="Duration Hrs" name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="text" placeholder="Price" name="" id="">
    </div>
    <div class="form-group">
      <textarea class="form-control w-50 mx-auto rounded " disabled placeholder="Description"  rows="3"></textarea>
    </div>

      <button class="btn btn-success d-block mx-auto  w-25">Back</button>
  </form>
</div>
