<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Create a course</h1>
</div>

<div class="containerc">
  <form action="" [formGroup]="contactForm" (submit)="createCourse()">


    <div class="mt-4 w-50 mx-auto form-group">
      <input type="file" class="form-control" (change)="onFileSelected($event)"   >
      <input type="hidden" name="fileHidden" />
    </div>

    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " formControlName="duration"  type="number" placeholder="Duration Hrs" name="" id="">
    </div>

    <div class="form-group">
      <select class="d-block mx-auto form-control w-50" formControlName="teacherId">
        <option hidden>Seleccionar Convocatoria</option>
        <option *ngFor="let teacher of teachers"   [value]="teacher.teacherId">{{teacher.name}}</option>
      </select>
    </div>



    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " formControlName="price"  type="text" placeholder="Price" name="" id="">
    </div>
    <div class="form-group">
      <textarea class="form-control w-50 mx-auto rounded " placeholder="Description"  rows="3"></textarea>
    </div>
    <div class="row w-50 mx-auto">

      <button class="btn btn-danger d-block mx-auto  w-25" type="submit">Create</button>
      <button class="btn btn-success d-block mx-auto  w-25" (click)="goBack()">Back</button>
    </div>
  </form>
</div>

