<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Create a course</h1>
</div>
<div class="containerc">
  <form action="">
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded "  type="text" placeholder="Title" name="" id="">
    </div>

    <div class="form-group" >
      <select class="form-control w-50 mx-auto" name="cars" id="cars">
        <option hidden >Teacher</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded "  type="number" placeholder="Duration Hrs" name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded "  type="text" placeholder="Price" name="" id="">
    </div>
    <div class="form-group">
      <textarea class="form-control w-50 mx-auto rounded " placeholder="Description"  rows="3"></textarea>
    </div>

      <button class="btn btn-danger d-block mx-auto  w-25">Create</button>
  </form>
</div>
