<script src="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="></script>
<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Teachers Courses</h1>
</div>
<div class="containerc" *ngFor="let teacher of teachers">

  <div class="cardp">
    <div class="row">
      <div class="col-5">
        <a class="p-2 mx-1 text-info"     [routerLink]="['../details', teacher.teacherId]">   <i class="fa fa-eye" aria-hidden="true"></i></a>
      </div>
      <div class="col-7" >
        <h2 >{{teacher.name}}</h2>
        <p> {{teacher.skills}}</p>
        <div class="social-media d-block">
          <i class="col- fa fa-facebook"></i>
          <i class="col- fa fa-linkedin"></i>
          <i class="col- fa fa fa-twitter"></i>
          <i class="col- fa fa-github"></i>
        </div>
      </div>
    </div>

  </div>


</div>
