<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">My Courses</h1>
</div>
<table class="table table-striped w-75 mx-auto mt-4">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Teacher</th>
      <th scope="col">Duration</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Js</td>
      <td>Otto</td>
      <td>12</td>
      <td>
        <a class="p-2 mx-1 text-info">   <i class="fa fa-eye" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>
