<script src="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="></script>
<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Teachers Courses</h1>
</div>
<div class="containerc">
  <div class="cardp">
    <div class="row">
      <div class="col-5">
        <img src="../../../../assets/teacher.jpg" class="img mx-auto d-block rounded" alt="">
      </div>
      <div class="col-7">
        <h2>Phill James</h2>
        <p>English occultist, ceremonial magician, poet, painter, novelist, and mountaineer. He founded the religion of Thelema, identifying himself as the prophet entrusted with guiding humanity into the Æon of Horus in the early 20th century.</p>
        <div class="social-media d-block">
          <i class="col- fa fa-facebook"></i>
          <i class="col- fa fa-linkedin"></i>
          <i class="col- fa fa fa-twitter"></i>
          <i class="col- fa fa-github"></i>

        </div>
      </div>
    </div>
  </div>
  <div class="cardp">
    <div class="row">
      <div class="col-5">
        <img src="../../../../assets/teacher.jpg" class="img mx-auto d-block rounded" alt="">
      </div>
      <div class="col-7">
        <h2>Phill James</h2>
        <p>English occultist, ceremonial magician, poet, painter, novelist, and mountaineer. He founded the religion of Thelema, identifying himself as the prophet entrusted with guiding humanity into the Æon of Horus in the early 20th century.</p>
        <div class="social-media d-block">
          <i class="col- fa fa-facebook"></i>
          <i class="col- fa fa-linkedin"></i>
          <i class="col- fa fa fa-twitter"></i>
          <i class="col- fa fa-github"></i>

        </div>
      </div>
    </div>
  </div>
</div>
