<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Course details</h1>
</div>
<div class="containerc">
  <form action="">
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="text" value="{{myCourse?.title}}"  name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="text" value="{{myCourse?.duration}}" name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="number" value="{{myCourse?.price}}"  name="" id="">
    </div>
    <div class="form-group">
      <input class="form-control w-50 mx-auto rounded " disabled  type="text" value="{{myCourse?.teacherId}}" name="" id="">
    </div>
    <div class="form-group">
      <textarea class="form-control w-50 mx-auto rounded " disabled   rows="3"></textarea>
    </div>

      <button (click)="goBack()" class="btn btn-success d-block mx-auto  w-25">Back</button>
  </form>
</div>
