
<div class="topDiv bg-danger">
  <h1 class="text-white ml-4">Courses</h1>
</div>
<div class="btnCreateDiv">
  <button class="btn btn-success mt-4 " (click)="goBack()">Back</button>
</div>
<table class="table table-striped w-75 mx-auto mt-4">
  <thead>
    <tr>
      <th scope="col">Couse</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of myCoursesBuy">
      <td>{{course.courseId}}</td>
      <td>
        <a class="p-2 mx-1 text-info" [routerLink]="['../detail',course.courseId]">   <i class="fa fa-eye" aria-hidden="true"></i></a>
        <a class="p-2 mx-1 text-success"><i class="fa fa-edit"></i></a>
        <a class="p-2 mx-1 text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>
